

.different:hover {
  color: #028680;
}


.active .different{
  color: #028680;
}

.navitem:hover > .dropdown {
  display: block;
}

@media screen and (min-width:1024px) {
  .dropdown::before{
    content: "";
    position: absolute;
    /* background-image: url('https://pngbong.com/wp-content/uploads/2023/03/Arrow-Transparent.png');
    background-size: 40px 40px; */
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid white;

    height: 40px;
    width: 40px;
    left:40px;
    top: -30px;
  
  }
}
/* Desktop Mega Menu Highlighting */
.navitem .mega-active,
.navitem:hover .mega-active {
  color: #028680 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
}

/* Region Left Side Highlight */
.region-active {
  background: #fff !important;
  color: #028680 !important;
  font-size: 15px !important;
  font-weight: 700 !important;
  border-right: 4px solid #028680 !important;
}

/* Section Heading Bigger */
.section-heading {
  font-size: 15px !important;
  font-weight: 800 !important;
  color: #028680 !important;
  margin-bottom: 4px !important;
}

/* Section links */
.section-link {
  font-size: 13px !important;
  font-weight: 600 !important;
}

.section-link:hover {
  color: #028680 !important;
}

/* Top Menu item increase */
.navitem > a,
.navitem > div {
  font-size: 17px !important;
  font-weight: 600 !important;
}

.navitem:hover > a,
.navitem:hover > div {
  color: #028680 !important;
}


@media screen and (min-width: 768px) and (max-width :1333) {
  .navitem > a,
  .navitem > div {
    font-size: 12px !important;
  }

  
}

.member-desc {
  color: #4b5563; /* text-gray-600 */
  font-size: 16px;
  line-height: 1.6; /* leading-relaxed */
  letter-spacing: 0.025em; /* tracking-wide */
}

@media screen and (min-width:1281px) and (max-width:1920px) {
  .member-desc {
    color: #4b5563; /* text-gray-600 */
    font-size: 26px;
    line-height: 1.6; /* leading-relaxed */
    letter-spacing: 0.025em; /* tracking-wide */
  }
}


